body{
    background-color: hsl(216, 12%, 8%);
    padding-top: 100px;
}
.container{
    width: 25%;
    background-color: hsl(213, 19%, 18%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 30px;
}
#heading{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: hsl(218, 13%, 25%);
    display: flex;
    justify-content: center;
}
#heading img{
    width: 20px;
    height: 20px;
    margin: auto;
}
#heading h3{
    margin-top: 8px;
}
#joy{
    color: white;
}
.gift{
    color: hsl(217, 12%, 63%);
}
.dor{
    color: hsl(215, 10%, 44%);
    display: flex;
    justify-content: space-between;
    
}
.btn{
    background-color: hsl(25, 97%, 53%);
    border-radius: 120px;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 20px;
}
.container2{
    width: 20%;
    background-color: hsl(213, 19%, 18%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding: 30px;
    margin-top: 50px;
}
#center{
    border-radius: 12px;
    color: hsl(24, 31%, 42%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: hsl(218, 10%, 22%);
    font-size: 20px;
}
.log{
    color: white;
    text-align: center;
}
.Bill{
   color: hsl(217, 12%, 63%); 
}
#evans{
    width: 60%;
    margin-left: auto !important;
    margin-right: auto !important;
}